<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <button mat-button (click)="sidenav.close()">Close</button>
    <h1>Enpoint:{{ choosen }}</h1>
    <mat-tab-group>
      <mat-tab label="Deployer">
        <section class="example-section">
          <span class="example-list-section">
            <mat-checkbox
              class="example-margin"
              [checked]="allComplete"
              [indeterminate]="someComplete()"
              (change)="setAll($event.checked)"
            >
              {{ task.name }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox
                  [(ngModel)]="subtask.completed"
                  [color]="subtask.color"
                  (ngModelChange)="updateAllComplete()"
                >
                  {{ subtask.name }}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
        <button mat-button (click)="sidenav.close()">Deploy</button>
      </mat-tab>
      <mat-tab label="MetaData" (click)="getData()">
        <mat-tab-group>
          <mat-tab label="Computer Information">
            <h3>OS:{{ data["Info"]["OS"] }}</h3>
            <h3>

            Administrators:
            <ul>
              <li *ngFor="let user of data['Info']['Administrators']">
                {{ user }}
              </li>
            </ul>
          </h3>
            <h3>RAM:{{ data["Info"]["RAM"] }}</h3><h3>

              Drives:
              <ul>
                <li *ngFor="let drive of data['Info']['Drives']">
                  {{ drive }}
                </li>
              </ul>
            </h3>
          </mat-tab>
          <mat-tab label="Arcsight Data">
            <ul class="dot">
              <li *ngFor="let item of data['Arcsight Events']">
                <ul>
                  <li>type: {{ item.type }}</li>
                  <li>Service: {{ item.Service }}</li>
                  <li>Extra Data: {{ item["Extra Data"] }}</li>
                </ul>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="Files">
            <ul class="dot">
              <li *ngFor="let item of data['Files']">
                <ul>
                  <li>Name: {{ item.Name }}</li>
                  <li>Path: {{ item.Path }}</li>
                  <li>Hash: {{ item.Hash }}</li>
                </ul>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="Processes">
            <ul class="dot">
              <li *ngFor="let item of data['Processes']">
                <ul>
                  <li>Name: {{ item.Name }}</li>
                  <li>Path: {{ item.Path }}</li>
                  <li>user: {{ item.user }}</li>
                  <li>Hash: {{ item.Hash }}</li>
                </ul>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="Services">TODO</mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Configuration"> TODO </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page">
      <input
        matInput
        (keyup)="onKey($event)"
        type="text"
        placeholder="Search Here"
        class="search"
      />
      <ngx-graph
        [links]="tEdges"
        [nodes]="tNodes"
        [clusters]="clusters"
        [layout]="layout"
        [curve]="curve"
        [draggingEnabled]="draggingEnabled"
        [panningEnabled]="panningEnabled"
        [enableZoom]="zoomEnabled"
        [zoomSpeed]="zoomSpeed"
        [minZoomLevel]="minZoomLevel"
        [maxZoomLevel]="maxZoomLevel"
        [panOnZoom]="panOnZoom"
        [autoZoom]="autoZoom"
        [autoCenter]="autoCenter"
        [update$]="update$"
        [center$]="center$"
        [zoomToFit$]="zoomToFit$"
      >
        <ng-template #defsTemplate>
          <svg:marker
            id="arrow"
            viewBox="0 -5 10 10"
            refX="8"
            refY="0"
            markerWidth="4"
            markerHeight="4"
            orient="auto"
          >
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster">
            <svg:rect
              rx="5"
              ry="5"
              [attr.width]="cluster.dimension.width"
              [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color"
            />
          </svg:g>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node" (click)="openOptions(node.id); sidenav.open()">
            <svg:rect
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
              [attr.fill]="node.data.color"
            />
            <svg:text
              alignment-baseline="central"
              [attr.x]="10"
              [attr.y]="node.dimension.height / 2"
            >
              {{ node.label }}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g
            class="edge"
            [ngClass]="{
              'text-established': link.data['state'] === 'ESTABLISHED',
              'text-closed': link.data['state'] !== 'ESTABLISHED'
            }"
          >
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)"
            ></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{ link.label }}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
