<div fxLayout="column" fxLayoutAlign="start start" class='cluster'>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap='20px' class='buttons'>
      
      <h2 fxFlex='85'>Your Projects</h2>
  
      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex='15'>
        <button mat-mini-fab class='addBtnPerson' matTooltip="Add User To Project"  [disabled]='(selection.selected.length == 0) ? true : false'
        (click)='popUpAddUserToProject()'>
          <mat-icon>person_add</mat-icon>
        </button>
      <button mat-mini-fab class='addBtn' matTooltip="Add project" (click)='popUpAddProject()'>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab matTooltip="Delete user from project" [disabled]='(selection.selected.length == 0) ? true : false'
        class='deleteBtn' (click)='popUptoDeleteProject()'>
        <mat-icon matBadge="{{selection.selected.length}}" matBadgeColor="warn">delete</mat-icon>
      </button>
    </div>
    </div>
    
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="filter by project name">
    </mat-form-field>
  
    <div *ngIf="data" class="mat-elevation-z8">
      <table mat-table [dataSource]="data" matSort>
  
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            select
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container> -->

          
        <ng-container matColumnDef="projName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
            <td mat-cell *matCellDef="let row"> {{row.projName}} </td>
          </ng-container>

          <ng-container matColumnDef="Project users">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Projects' Users </th>
            <td mat-cell *matCellDef="let row"> 
              <mat-accordion>
                  <mat-expansion-panel (opened)="isOpen(row.projName)"
                                      (closed)="isClose()">
                      <mat-expansion-panel-header>
                      <mat-panel-title>
                       users
                      </mat-panel-title>
                      </mat-expansion-panel-header>
                          <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex=80>
                            <ng-container *ngIf='(userPerProject$ | async) as usersPerProject'>
                              <ng-container *ngFor='let users of usersPerProject'>
                                <ng-container *ngFor='let userPerProj of users.users'> 
                                  <label>{{userPerProj.email}}</label>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                             
                          </div>
                      </mat-expansion-panel>
              </mat-accordion>

            </td>
                
          </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
  
      <mat-paginator [length]='resultsLength' [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>