<div fxLayout="column" fxLayoutAlign="space-between stretch" style=height:100%>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex=10>
    <button mat-button mat-dialog-close cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Create Cluster</h1>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">


      <mat-form-field class="form-element">
        <input matInput formControlName="namespace"  value='{{this.data.namespace}}'>
        <mat-placeholder>
          <mat-icon>subject</mat-icon>&nbsp;Project Name
        </mat-placeholder>
        <mat-error *ngIf="!namespace.valid && namespace.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form-element">
        <input matInput formControlName="cluster_id" maxlength="25">
        <mat-placeholder>
          <mat-icon>subject</mat-icon>&nbsp;Cluster Name
        </mat-placeholder>
        <mat-error *ngIf="!cluster_id.valid && cluster_id.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput formControlName="count" maxlength="4">
        <mat-placeholder>
          <mat-icon>format_list_numbered</mat-icon>&nbsp;Server's Amount
        </mat-placeholder>
        <mat-error *ngIf="!formGroup.controls['count'].valid && formGroup.controls['count'].touched">
          {{ getErrorCount() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput formControlName="storage_size" maxlength="4">
        <mat-placeholder>
          <mat-icon>format_list_numbered</mat-icon>&nbsp;Stoage Size
        </mat-placeholder>
        <mat-error *ngIf="!formGroup.controls['storage_size'].valid && formGroup.controls['storage_size'].touched">
          {{ getErrorStorageSize() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Version</mat-label>
        <mat-select formControlName="version" required>
          <mat-option *ngFor="let ver of versions" [value]="ver">
            {{ver.version}}
          </mat-option>
        </mat-select>
      </mat-form-field>

     <mat-form-field class="form-element">
        <input matInput formControlName="user_name" maxlength="35">
        <mat-placeholder>
          <mat-icon>person_pin</mat-icon>&nbsp;User Name
        </mat-placeholder>
        <mat-error *ngIf="!user_name.valid && user_name.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput formControlName="password" maxlength="20">
        <mat-placeholder>
          <mat-icon>vpn_key</mat-icon>&nbsp;Password
        </mat-placeholder>
        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>


    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="form-element">
        <button mat-raised-button class='addClusterBtn' type="submit" [disabled]="!formGroup.valid">Create</button>
      </div>
      <div>
        <mat-spinner *ngIf='isloading' [diameter]="40"></mat-spinner>
      </div>
    </div>

  </form>
</div>